body {
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    margin: 0%;
}


/* Header */

a,
label {
    color: rgb(112, 110, 110);
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
}

form {
    background-color: rgb(218, 216, 216);
    border-radius: 10px;
    padding: 10px;
    width: 65%;
}

header {
    background-color: white;
    border-bottom: 1px solid rgb(112, 110, 110);
    position: fixed;
    z-index: 1;
}

input {
    width: 80%;
}

input,
select {
    background-color: rgb(218, 216, 216);
    border: none;
    color: rgb(112, 110, 110);
    font-size: 1.1rem;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
}

#logo {
    color: rgb(165, 15, 15);
    padding-left: 15px;
    width: 5%;
}


/*Seccion de imagenes*/

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 15vh;
    width: 100vw;
    z-index: -1;
}

img {
    border: 1px riged black;
    border-radius: 5%;
    text-align: center;
    width: 100%;
}

img:hover {
    opacity: 0.4;
}

.pin {
    width: 30%;
}