body{
  background-color: #FFFFE0;
  box-sizing: border-box;
  font-family: 'Bitter', serif;

}

header{
  background-color: #AFEEEE;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header > * {

  display: inline-block;
  text-align: center;
}

header > h1{
  width: 5%;
}

header > form {
  background-color: gray;
  padding: 1%;
  width: 70%;
}

header label{
  width: 10%
}

header input{
  background-color: lightgray;
  width: 70%;
}

header select{
  width: 20%;
}

header > nav {
  width: 20%;
}

header nav a {
  margin-left: 2%;
  padding: 2%;
}

header ul {

  width: 100%;
}

header > ul li{
  background-color: #20B2AA;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin-right: 1%;
  padding: 1%;
}

main {
  position:relative;
  z-index: -1;
  top: 30vh;
}

.col {
  float: left;
  display: block;
  margin: 1%;
  width: 20%;
}

img {
  border: 1px riged black;
  border-radius: 5%;
  height: 100%;
  text-align: center;
  width: 100%;
}

img:hover {
  opacity: 0.5;
}
